.header__link {
    text-decoration: none;
    color: white;
    max-width: 12rem;
}

.header__menuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -.5rem;
    margin-right: 1.5rem;
    color: white;
    cursor: pointer;
}